<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TSManage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TSManage.Properties.Settings>
            <setting name="filenameRegex" serializeAs="String">
                <value>^(?&lt;ProgramName&gt;.+) \((?&lt;DateYear&gt;\d{4})(?&lt;DateMonth&gt;\d{2})(?&lt;DateDay&gt;\d{2})\-(?&lt;TimeHour&gt;\d{2})(?&lt;TimeMinute&gt;\d{2}) (?&lt;ServiceName&gt;.+)\)\.m2ts$</value>
            </setting>
        </TSManage.Properties.Settings>
    </userSettings>
</configuration>